@import "../../Mixins";
@import "../../Palette";
@import "~@material/ripple/mdc-ripple";
@import "~@material/button/mdc-button";
@import "~@material/typography/mdc-typography";

.mdc-button {
  display: block;
  text-align: center;
  
  width: 98%;
  height: 5%;
  margin: 1em auto;
  @include mdc-button-container-fill-color(get-height-color(6));
  @include mdc-button-ink-color($mdc-theme-on-background);
}

.borderBox {
  @include mdc-typography(overline);
  border: 2px solid $mdc-theme-primary;
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.borderLegend {
  padding: 0 5%;
}
