$primaryColor:   #212121;
$primaryLight:   #484848;
$primaryDark:    #000000;
$primaryText:    #ffffff;
$secondaryColor: #42a5f5;
$secondaryLight: #80d6ff;
$secondaryDark:  #0077c2;
$secondaryText:  #000000;
